[submodule "submodules/dust3r"]
	path = submodules/dust3r
	url = https://github.com/naver/dust3r
[submodule "submodules/mast3r"]
	path = submodules/mast3r
	url = https://github.com/naver/mast3r
[submodule "submodules/Depth-Anything-V2"]
	path = submodules/Depth-Anything-V2
	url = https://github.com/DepthAnything/Depth-Anything-V2
